# Data processing
pandas
numpy
scikit-learn

# Google BigQuery
google-cloud-bigquery
google-cloud-bigquery-storage
db-dtypes
pyarrow

# Gemini embeddings
google-genai

# Environment variables
python-dotenv

# Web application
streamlit

faiss-cpu
plotly